# Salin file ini menjadi .env dan sesuaikan dengan konfigurasi SQL Server kamu
DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=kantin_review
DB_USER=backend_login
DB_PASSWORD=Password123!
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true

PORT=3000
